@tailwind components;
@tailwind utilities;

@layer components {
    .main {
        @apply flex flex-col items-center w-full relative;
    }
    .main > .content {
        @apply w-full max-w-[90rem] pr-[max(env(safe-area-inset-right),1.5rem)] pl-[max(env(safe-area-inset-left),1.5rem)];
    }

    div.heroContainer {
        @apply py-16;
    }
    h1.mainTitle {
        @apply text-7xl font-bold;
    }
    p.mainDescription {
        @apply text-2xl font-light mt-4;
    }
    .mainLink {
        @apply mt-8 text-2xl text-[hsl(var(--nextra-primary-hue),100%,50%)] hover:text-[hsl(var(--nextra-primary-hue),100%,70%)] transition flex flex-row items-center gap-4 w-fit;
    }
    .mainLink > svg {
        @apply h-6 w-6 mt-2;
    }

    div.infoContainer {
        @apply py-16 bg-white;
    }
    div.infoContainer:nth-child(even) {
        @apply bg-neutral-100;
    }
    div.infoContainer:nth-child(even):last-of-type {
        @apply border-b border-neutral-200;
    }
    html:global(.dark) div.infoContainer {
        @apply bg-neutral-900;
    }
    html:global(.dark) div.infoContainer:nth-child(even) {
        @apply bg-black;
    }
    html:global(.dark) div.infoContainer:nth-child(odd):last-of-type {
        @apply border-b border-neutral-800;
    }
    h2.infoTitle {
        @apply text-4xl font-bold;
    }
    div.infoCards {
        @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 mt-8 gap-8 relative;
    }

    div.wrappersContainer {
        @apply grid grid-cols-1 md:grid-cols-2 gap-8 items-start relative;
    }
    div.wrappersContainer > div {
        @apply w-full block;
    }

    .cardContainer {
        @apply p-4 rounded-xl bg-white flex flex-row gap-4 items-start;
    }
    html:global(.dark) .cardContainer {
        @apply bg-neutral-800;
    }
    .cardContainer .title {
        @apply text-xl font-bold;
    }
    .cardContainer .description {
        @apply text-base font-light mt-2;
    }
    .cardContainer .iconContainer {
        @apply h-10 w-10 block relative shrink-0;
    }
}